HOST=127.0.0.1
PORT=8787
PUBLIC_BASE_URL=http://127.0.0.1:8787
CORS_ORIGIN=http://127.0.0.1:5173
SEPOLIA_RPC_URL=https://ethereum-sepolia-rpc.publicnode.com
FILEBASE_RPC_TOKEN=your_bucket_specific_filebase_rpc_token
FILEBASE_RPC_URL=https://rpc.filebase.io
FILEBASE_GATEWAY_URL=https://ipfs.filebase.io/ipfs
X402_LIVE=false
X402_PAY_TO=0xYOUR_PUBLIC_WALLET_ADDRESS
X402_FACILITATOR_URL=https://x402.org/facilitator
